@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

* {
  font-family: DM Sans;
  cursor: context-menu;
}
.tag,
.linkPhotographer,
.identite,
img,
video,
.tag-photographe,
button,
.sort li,
#close-slider,
.arrow,
.scroll {
  cursor: pointer;
}
.heart {
  cursor: url("https://surlapage.fr/widget/cursors/11/1289417.gif"), default;
}
.slider-content img,
.slider-content video {
  cursor: context-menu;
}
#photoProfil img {
  cursor: context-menu;
}
input,
textarea {
  cursor: auto;
}

.container {
  max-width: 1500px;
  margin: auto;
}

#logo img {
  width: 200px;
  margin: 1rem 0 0 0;
}

/*PAGE ACCUEIL*/
#header {
  display: flex;
  justify-content: space-around;
  margin: auto 1rem auto 5rem;
  padding-bottom: 5rem;
}
h1 {
  color: #901c1c;
  font-weight: 400;
  font-size: 36px;
  margin: 1rem 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  font-weight: 500;
  font-size: 12px;
  padding: 2rem 0 0 0;

  width: auto;
}
nav span {
  height: 1rem;
  padding: 0 0.2rem;
  margin: 0 0.3rem;
  color: #901c1c;
  font-size: 12px;
  border: 0.5px solid #c4c4c4;
  border-radius: 11px;
}
.accueil {
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main a {
  width: 32%;
  margin-bottom: 4%;
  text-decoration: none;
}
.photoIdentite {
  text-align: center;
}
.identite {
  color: #d3573c;
  font-size: 36px;
  font-weight: 400;

  text-align: center;
}
.lieu,
.tagline,
.prix,
.tags {
  font-size: 0.8rem;
  text-align: center;
}
.lieu {
  color: #901c1c;
  font-size: 13px;
  font-weight: 400;
}
.tagline {
  color: black;
  font-size: 0.8rem;
  font-weight: 400;
}
.prix {
  color: #757575;
  font-size: 0.7rem;
  font-weight: 400;
}
main img {
  width: 14rem;
  height: 14rem;
  object-fit: cover;
  border-radius: 14rem;
}

.tag-photographe {
  padding: 0.1rem;
  margin: 0 0.2rem;
  color: #901c1c;
  font-size: 12px;
  border: 0.5px solid #c4c4c4;
  border-radius: 11px;
}
.tags {
  display: flex;
  justify-content: center;
}
.tag-actif {
  background-color: #db8876;
  color: white;
}

/*scroll*/
.scroll {
  position: fixed;
  display: none;
  background-color: #db8876;
  padding: 0.1rem 0.5rem;
  border-radius: 0.2rem;
  top: 2%;
  left: 45%;
  text-decoration: none;
  color: black;
  font-weight: 600;
}

/*FICHES PAR PHOTOGRAPHE* profil*/

#mainFiche {
  margin-bottom: 5rem;
}

.profil {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 4rem 5rem 3rem 5rem;
  background-color: rgba(243, 244, 246, 0.5);
  padding: 2rem;
}
.contactButton {
  height: 1rem;
  border: none;
  margin-top: 1.8rem;
  margin-right: 1rem;
  padding: 1.5rem 1rem;
  line-height: 0.2rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  background-color: #901c1c;
  border-radius: 0.2rem;
}

.textProfil {
  display: flex;
  flex-direction: column;
}
#nameProfil {
  font-size: 3rem;
  color: #d3573c;
  margin: 1rem 0;
}
#locationProfil {
  color: #901c1c;
  font-size: 1.5rem;
  margin-bottom: 0;
  margin-top: 0;
}

#headerFiche {
  margin-left: 5rem;
}

/*FICHES PAR PHOTOGRAPHE* medias*/

#medias figure {
  width: 20rem;
  height: 20rem;
  margin: 2rem;
  padding: 0;
  background-color: black;
  border-radius: 1.5%;
}

#medias figcaption {
  font-size: 18px;
  color: #901c1c;
  font-weight: 400;
  background-color: white;
  padding: 0.5rem 0;
  margin-bottom: 0.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

figcaption i {
  color: #db8876;
}

.mediaTitle {
  margin: 0;
  font-size: 1.3rem;
  font-weight: 400;
}

#medias img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 1.5%;
}

video {
  width: 20rem;
  height: 20rem;
  padding: 0;
}
#medias {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*scroll page photographe*/
.scrollProfile {
  display: flex;
  color: black;
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  position: fixed;
  bottom: 1%;
  right: 2%;
  background-color: #db8876;
  border-radius: 0.2rem;
}
#scrollPrice {
  margin-left: 2rem;
}
/*FICHES PAR PHOTOGRAPHE* formulaire de contact*/
.fiche {
  position: relative;
}
.bground {
  display: none;
  position: absolute;
  z-index: 1;
  overflow: auto;
  top: -5%;
  width: 50%;
  max-width: 1000px;

  background-color: #db8876;
  padding: 2rem;
  margin-left: 22%;
}

#form-title {
  font-size: 2rem;
  margin-left: 0rem;
  text-align: left;
}

label {
  font-size: 2rem;

  display: inline-block;
  margin-bottom: 11px;
}

.text-control {
  margin: 0;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  font-size: 2rem;
  height: 48px;
}
.erreur {
  color: red;
  font-size: 1rem;
  background-color: honeydew;
}
input {
  border: none;
}
.erreur-input {
  margin: 0;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  font-size: 20px;
  height: 48px;
  border: 0.8px solid red;
}
#message {
  min-height: 10rem;
}
#close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
}

.btn-submit {
  background: #901c1c;
  display: block;
  margin: 2rem 0;
  border-radius: 7px;
  padding: 1rem 2rem;
  color: #fff;
  cursor: pointer;
  border: 0;
  font-size: 1.4rem;
  font-weight: 600;
  width: 6.5rem;
}
.btn-submit_off {
  background: rgba(218, 216, 216, 0.705);
  cursor: not-allowed;
}
/*FICHES PAR PHOTOGRAPHE* bouton tri*/
.sort {
  margin-left: 4rem;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 17%;
}
#sort-txt {
  padding-top: 1.5rem;
  font-weight: 600;
}
.sort-list i {
  margin: 0 0 0 1.5rem;
}
.sort-list {
  color: white;
  font-weight: 600;
  background-color: #901c1c;

  margin-left: 1rem;
  border-radius: 0.4rem;
  position: relative;
  display: none;
}

#sort-list_closed {
  display: flex;

  justify-content: space-between;
  width: 11.5rem;
  height: 4.3rem;
  color: white;
  font-weight: 600;
  background-color: #901c1c;

  margin-left: 1rem;
  border-radius: 0.4rem;
  position: absolute;
  left: 4.5rem;
}
#sort-list_closed i {
  margin-top: 0.5rem;
  margin-right: 1rem;
}
#sort-list_closed div {
  padding: 1rem;
}
#sort-list_first {
  margin-left: 1rem;
  margin-top: 0.5rem;
}
.sort-list li {
  padding: 0.8rem 1.2rem 1rem 1rem;
}

#popularity-btn {
  display: flex;
  flex-direction: row;
}

#sort-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  max-height: 2.3rem;
  -webkit-transition: 0.8s all 0.3s;
  -o-transition: 0.8s all 0.3s;
  transition: 0.8s all 0.3s;
  border: 1rem solid #901c1c;
  border-radius: 0.3rem;
}
#sort-list ul:hover {
  max-height: 150rem;
}

.sort-by_date,
.sort-by_title {
  border-top: solid 1px #d3573c;
}

/*FICHES PAR PHOTOGRAPHE* slider*/
#slider {
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
#slider-all {
  display: flex;
  align-items: center;
  background-color: white;
  max-height: 98%;
}
.slider h2 {
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
}
.arrow img,
#close-slider img {
  width: 4rem;
}

#next {
  margin-left: -3.5rem;
  margin-bottom: 4rem;
}
#previous {
  margin-bottom: 4rem;
}
#close-slider {
  margin-left: -0.5rem;
  margin-top: 2rem;
}
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}

.close-slider {
  display: flex;
  flex-direction: row;
}
.slider-content {
  padding: 0 30px;
  border-radius: 8px;

  color: #901c1c;
  font-size: 2rem;
  font-weight: 600;
}
.slider-content figure {
  width: 100%;
  padding: 0;
  margin: 2rem 0;
}
.slider-content img {
  max-width: 80vw;
  height: 85vh;

  object-fit: cover;
}
.slider-content video {
  width: auto;
  height: 30rem;
}

/**/
/*RESPONSIVE*/
@media screen and (max-width: 800px) {
  #logo img {
    width: 150px;
    padding-top: 20px;
  }

  #header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    padding-bottom: 2rem;
  }
  h1 {
    padding-top: 1.5rem;
    font-size: 1.2rem;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto 0.8rem;
  }
  nav span {
    margin: 0.2rem 0.5rem;
  }

  header :nth-child(2) {
    order: 1;
  }

  main {
    display: block;
  }

  main a {
    width: 20rem;
    margin: 2rem auto;
  }
  .photoIdentite {
    width: 12rem;
    margin: auto;

    text-align: center;
  }
  h2 {
    width: auto;
    text-align: center;
  }
  .scroll {
    left: 35%;
  }

  #mainFiche {
    margin-bottom: 2rem;
  }

  #headerFiche {
    margin-left: 0.5rem;
  }

  .profil {
    margin: 2rem 0 1rem 0;
    padding: 0.2rem;
  }
  .contactButton {
    font-size: 1.2rem;
    line-height: 0.1rem;
    position: fixed;
    left: 25%;
    bottom: 1rem;
  }
  #photoProfil {
    margin: 1rem 0 0 -2.2rem;
  }
  #photoProfil img {
    width: 8rem;
    height: 8rem;
  }

  #nameProfil {
    text-align: left;
    font-size: 2rem;

    margin: 1rem 0;
  }

  .scrollProfile {
    display: none;
  }

  /*formulaire*/

  .bground {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0%;
    top: 7%;
    width: 82%;
    max-width: 1000px;
    overflow: auto;
    background-color: #db8876;
    padding-top: 0;
    margin: 0;
  }
  label {
    font-size: 1.8rem;

    display: inline-block;
    margin-bottom: 11px;
  }
  .btn-submit {
    padding: 0.5rem 3rem;
    margin-left: 20%;
  }
  .text-control {
    margin: 0;
    padding: 1px;
    width: 95%;
    border-radius: 8px;
    font-size: 2rem;
    height: 55px;
  }
  .sort {
    display: none;
  }

  /*slider*/

  #slider {
    width: 100%;
  }
  #slider-all {
    width: 100%;
  }

  .arrow img,
  #close-slider img {
    width: 2rem;
  }
  .close-slider {
    width: 90%;
  }
  .slider-content {
    width: 90%;
    padding: 0;
  }
  .slider-content figure {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .slider-content img {
    width: 100%;
    height: auto;
  }
  .slider-content video {
    width: 100%;
    height: auto;
    padding-top: 1rem;
  }
  #next {
    margin-left: -40px;
  }
  #close-slider {
    margin-top: -0.2rem;
    margin-left: 0.1rem;
  }
}
